//Custom Font
@font-face {
  font-family: 'poppins-regular';
  src: url("../../../fonts/poppins-regular.woff2") format("woff2");
}
@font-face {
  font-family: 'poppins-medium';
  src: url("../../../fonts/poppins-medium.woff2") format("woff2");
}
@font-face {
  font-family: 'poppins-semibold';
  src: url("../../../fonts/poppins-semibold.woff2") format("woff2");
}
@font-face {
  font-family: 'poppins-bold';
  src: url("../../../fonts/poppins-bold.woff2") format("woff2");
}
  