//front end css
$White-color: #FFF;
$White-color1: #F8F8F8;
$White-color2: #F3F2F7;
$dark-blue-color: #0D002E;
$light-blue-color: #113270;
$light-blue-color1: #113370;
$light-blue-color2:#5f4899;
$gray-color: #6F7075;
$gray-color1: #B8B8B8;
$gray-color2: #969799;
$gray-color3: #717171;
$gray-color4: #D9D9D9;
$gray-color5: #555555;
$gray-color6: #898989;
$gray-color7: #999999;
$gray-color8: #DCDCDC;
$gray-color9: #867F96;
$gray-color10: #4F4F4F;
$gray-color11:#e9ecef;
$gray-color12:#f5f5f5;
$gray-color13:#eaeaea;
$light-gray-color:#6E6B7B;
$light-gray-color1:#E9E9E9;
$light-gray-color2:#5E5873;
$light-gray-color3:#BFBFBF;
$light-gray-color4:#F2F0F7;
$light-gray-color5:#9E9E9E;
$light-gray-color6:#555555;
$orange-color: #EA5455;
$orange-color1: #FFA500;
$grren-color:#28C76F;
$grren-color1: #00EA00;
$grren-color2: #008855;
$black-color: #000000;
$black-color1: #414141;
$black-color2: #1E1E1E;
$black-color3: #333;
$pink-color: #FF2780;
$pink-color1: #ED1E79;
$red-color: #FA0707;
$yellow-color: #EDC94A;
$yellow-color1: #DDDDAA;
$winmatchcolor: #008855;
$losematchcolor: #C01C00;
$drawmatchcolor: #CC6200;


//Hover State



//New Design color
$White-color: #FFF;
$light-sky-color: #3ECAF5;
$light-sky-color1: #69A8D8;
$dark-sky-color: #41A6FF;
$dark-sky-color1: #266DFF;
$dark-sky-color2: #6995f1;
$dark-sky-color3: #0850A0;
$black-color: #000;
$black-color1: #131111;
$black-color2: #1A1A1A;
$black-color3: #333333;
$black-color4: #262626;
$black-color5: #414141;
$black-color6: #242424;
$black-color7:#202020;
$black-color8: #434343;
$black-color9: #4B4B4B;
$gray-color4: #D9D9D9;
$gray-color5: #6F6A6A;
$gray-color6:#C5C5C5;
$green-color: #00D9A3;
$green-color1: #379D37;
$red-color: #FF4236;
$pink-color2: #FF0051;
$orange-color: #FF9B2D;
$orange-color1: #FF9900;
$dark-pink-color: #73103C;

