<div class="sidebar-content-with-logo-menu" id="sidebar-main">
  <div class="logo"  >
    <img alt="" routerLink="/" style="cursor: pointer" class="logo-small" src="assets/images/front/logo-sm.png">
    <img alt="" routerLink="/"  style="cursor: pointer" class="logo-collapsed-none" src="assets/images/front/livetipr-logo-dark.png">
  </div>

  <ul class="menu">
    <li [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="active">
      <a (click)="closeSidebar()" routerLink="/">
        <img alt="" src="assets/images/front/home.png"><span>Dashboard</span>
      </a>
    </li>
    <li [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="active">
      <a (click)="closeSidebar()" routerLink="/communities">
        <img alt="" src="assets/images/front/my-communities.png"><span>Communities</span>
      </a>
    </li>
    <li [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="active">
      <a (click)="closeSidebar()" routerLink="/users">
        <img alt="" src="assets/images/front/my-communities.png"><span>Users</span>
      </a>
    </li>
    <li [routerLinkActiveOptions]="{ exact: true }" class="nav-item" routerLinkActive="active">
      <a (click)="closeSidebar()" routerLink="/transaction">
        <img alt="" src="assets/images/front/transactions.png"><span>Transactions</span>
      </a>
    </li>
  </ul>
</div>
